body{  
    background-color:rgb(236, 248, 248);
}
section{
    background-color: rgb(222, 243, 247);
}
.part1 h4{
    font-family: sans-serif;
}
.part1 p{
    color: gold;
}

 ul li{
    list-style: none;
    display: inline;
    padding: 2px;
    float: right;
    padding-left: 100px; 

      
}
.p1{
    color: black;
    font-family: sans-serif;
    display: inline-flex;
    background-color: rgb(213, 241, 238);
}
.p1 nav a{
    
    display: inline;
}
.p1 p{
    color: chocolate;
}
 .wrap nav a{ 
    margin-right: 50px;
    text-align: end;
    text-decoration: solid;

}
.page1{
    margin-left: 60px;
    font-family: sans-serif;
   
}
.page1 p{
    font-size: 18px;
}

 .page1 button{
    padding: 13px;
    color: white;
    background-color: rgb(99, 190, 190);
    border-radius: 10px; 
    border: none;  
} 
.page1 i{
    background-color:white;
    border-radius: 90px;
    margin-right: 50%;
    padding: 18px;
    margin-left: 20px;
} 
.imge img{
margin-right: 100%;
border-width:none;
border-radius: none;
width: 550px;
height: 300px;
margin-top: -35%;
}
.imge p{
    background-color: white;
    /* border-radius: 30px; */
    padding: 18px;
    margin-left: 20px;
    margin-right: 300px;
}
.imge i {
    margin-left: 300px;
    display: inline-flex;
    background-color:rgb(236, 147, 14);
    border-radius: 90px;
    padding: 18px;

 } 

.services{
    padding: 100px;
    margin: 100px;
    display: inline-flex;
} 
.services h2{
    font-size: 30px;
    padding-left: -10x;
    font-family: sans-serif;
}
.text1{
    padding: 30px;
    margin: 100px;
    background-color:white; 

}
.text1 i{
    background-color:rgb(176, 224, 228);
    border-radius: 90px;
    margin-right: 50%;
    padding: 18px;
    margin-left: 20px;
}
.text2{
    padding: 30px;
    margin: 100px;
    background-color:white; 
}
.text2 i{
    background-color:rgb(176, 224, 228);
    border-radius: 90px;
    margin-right: 50%;
    padding: 18px;
    margin-left: 20px;
}
 .text3{
     padding: 30px;
     margin: 100px;
     background-color:white;
 }
 .text3 i{
    background-color:rgb(176, 224, 228);
    border-radius: 90px;
    margin-right: 50%;
    padding: 18px;
    margin-left: 20px;
 }
 .sec{
    display: inline-flex;
    font-family: sans-serif;
    padding-top: -10%;
 }
 .txt4{
     padding: 30px;
     margin: 100px;
     background-color: white;
 } 
 .txt4 i{
    background-color:rgb(176, 224, 228);
    border-radius: 90px;
    margin-right: 50%;
    padding: 18px;
    margin-left: 20px;
 }
 .txt5{
     padding: 30px;
     margin: 100px;
     background-color:white;
 }
 .txt5 i{
    background-color:rgb(176, 224, 228);
    border-radius: 90px;
    margin-right: 50%;
    padding: 18px;
    margin-left: 20px;
 }
 .txt6{
     padding: 30px;
     margin: 100px;
     background-color: white;
 }
 .txt6 i{
    background-color:rgb(176, 224, 228);
    border-radius: 90px;
    margin-right: 50%;
    padding: 18px;
    margin-left: 20px;
 }
  .another{
     display: inline-flex;
     font-family: sans-serif;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .imge{
     margin-left: 60%;
     border-radius: 50%;
     position: absolute;
     height: 50%;
     width: 30%;
     margin-left: 60%;
     margin-top: -10px;
     border: 45px solid rgb(236, 243, 245);   
     padding-top: -10px; 
 }  
 .services{
     padding: 30px;
     margin: 70px;
     display: inline-flex;
     padding-bottom: -10px;
 }
 .service h2{
     font-size: 30px;
 }
 .services p{
     padding-left: 470px;
 }
 .patients{
     padding: 30px;
     margin-top: 100px;
     display: inline-flex;
     font-family: sans-serif;
     padding-top: -10px;
 }
 .patients h3{
      font-size: 35px; 
      font-family: sans-serif;
 } 
 .patients p{
     padding-left: 500px;
     font-family:sans-serif;
 } 
 .img1{
     padding: 30px;
     margin: 100px;
     background-color: rgb(220, 247, 247);
 }
 .img2{
     padding: 30px;
     margin: 100px;
     background-color: rgb(247, 252, 252);
 }
 .img3{
     padding: 30px;
     margin: 100px;
     background-color: rgb(233, 220, 224);
 }
 .img3 div{
     background-color: none;
   }
 .images{
     display: inline-flex;
     font-family: sans-serif;
 } 

 .imo{
     padding: 30px;
     margin: 40px;
     background-color: rgb(52, 112, 112);
     border-radius: 70px;
 } 
 .imo img{
     height:200px ;
     width: 400px;
 }

.inform{
    padding: 30px;
    margin: 70px;
}
.inform h3{
    font-size: 30px;
}
.inform button{
    padding: 20px;
    padding-left: 10px;
    color: white;
    background-color: rgb(99, 190, 190);
    border-radius: 10px; 
    border: none;  
}
.contact{
    display: inline-flex;
    background-color:paleturquoise;
    font-family: sans-serif;
 } 
 .about{
     padding-left: 200px;
     margin: 70px;
     background-color:azure ;
     background-size: cover;
     background-size:1000px ;
 }
 .about i{
     color:rgb(128, 229, 233);
 }
 .friends{
     padding-right: 200px;
     /* padding-left: 300px; */
     margin: 70px;
     background-color:azure;
     background-size: 1000px;
     
 }
 .friends i{
    color: rgb(97, 224, 233);
 }
 .appreciation{
     display: inline-flex;
     padding-bottom: 40px;
     font-family: sans-serif;
     padding-top: 20px;
    
 }
 .column1{
     padding: 30px;
     margin: 70px;
 }

  .icons.iconr i{
     background-color: brown;
 }
 .icons{
     display: inline-flex;
     /* background-color:rgb(176, 224, 228); */
    border-radius: 90px;
    margin-right: 50%;
    padding: 18px;
    margin-left: 20px;
   
 }

 .column2{
     padding: 30px;
     margin: 70px;
 }
 
 .column3{
     padding: 30px;
     margin: 70px;
 }
  .column3 i{
    background-color:rgb(176, 224, 228);
    border-radius: 90px;
    margin-right: 50%;
    padding: 18px;
    margin-left: 20px;
 } 
 .column4{
    padding: 30px;
    margin: 70px;
 }
 .footer{
     display: inline-flex;
     font-family: sans-serif;
     
 }

 .sub{
     padding: 80px;
     padding-right: 90px;
     background-color:rgb(193, 247, 239);
     align-content: center;
     font-size: 25px;
     width: 700px;
     height: 200px;
     margin-bottom: 100px;
     margin-left: 14%;
     text-align: center;
     font-family: sans-serif;
     border-radius: 10px;
 }
 .email{
     margin-top: 10px;
     margin-bottom: 50px;
     padding: 30px;
     background-color: rgb(245, 252, 252);
     text-align: left;
    font-family: sans-serif;
    }
    .email button{
    padding: 28px;
    background-color: rgb(99, 190, 190);
    border-radius: 10px; 
    border: none;  
    margin-left: 300px;
    }
    .email input{
        padding: 15px;
        color: white;
        background-color:white;
        border-radius: 70px; 
        border: none;  
    }
 
 h1{
     font-size: 35px;
     font-family: sans-serif;
 }
